@import "fonts/fonts.css";

body {
  margin: 0;
  letter-spacing: 0.03em;
}

*, ::before, ::after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif, serif !important;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-input-affix-wrapper-focused {
  border: 1px solid red;
}